* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;  
}

html::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
  cursor: pointer;
}
input {
  border: none;
}

input:focus{
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
  color: inherit;
}

section {
  width: 100%;
  height: max-content;
}

.iconbox {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}

.red{
color: #FF0000;
}

.fetching {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@mixin linehover {
  &::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: #FF0000;
    margin: auto;
    display: block;
  }

  &:hover::after {
    width: 100%;
    transition: width 0.3s linear;
  }
}

@mixin mobile {
  @media screen and (max-width: 576px) {
    font-size: 14px;
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 577px) and (max-width: 768px) {
    font-size: 16px;
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    font-size: 18px;
    @content;
  }
}

@mixin ld {
  @media screen and (min-width: 1025px) and (max-width: 1366px) {
    font-size: 20px;
    @content;
  }
}
