@import '../../../App.scss';

.featured {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6dce381;

    // FRESH FRUITES
    .freshfruites {
        width: 100%;
        height: max-content;
        padding: 40px;


        .freahfruitetitle {
            width: 80%;
            padding-left: 40px;
            line-height: 50px;

            b {
                border-bottom: 4px solid red;
            }
        }

        .carosol {
            width: 100%;
            display: flex;

        }
    }


    // CETGORIES

    .categoryitemscon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: max-content;
        height: 150px;
        margin-top: 20px;

        @include mobile {
            flex-flow: row wrap;
            width: 350px;
        }

        .catitem {
            background-color: white;
            height: 100%;
            width: 100px;
            border-radius: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 30px;
            box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.453);
            cursor: pointer;

            &:hover {
                background-color: red;
                transition: 0.4s;
            }

            img {
                width: 70px;
                height: 70px;
                object-fit: contain;
                border-radius: 50%;
            }
        }
    }

    .featuredprrotitle {
        width: 90%;
        text-align: start;

        b {
            border-bottom: 4px solid red;
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 50px;
        margin-top: 50px;
        gap: 60px 0;

        @include mobile {
            margin-top: 150px;
            display: flex;
            flex-flow: row wrap;
        }

    }
   
    &>:last-child{
        margin: 20px;
    }

}