@import '../../../App.scss';

.featured {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d6dce381;

    // FRESH FRUITES
    .fruitecon {
        width: 100%;
        height: max-content;
        padding: 40px;
        @include mobile{
            padding: 10px;
        }


        .fruitstitle {
            width: 80%;
            padding-left: 40px;
            line-height: 50px;
            @include mobile{
                width: 100%;
                padding-left: 10px;
                font-size: 23px;
            }

            b {
                border-bottom: 4px solid red !important;
            }
        }

        .carosol {
            width: max-content;            
        }
    }


    .featuredproductstitle {
        width: 90%;
        text-align: start;

        b {
            border-bottom: 4px solid red;
        }
    }

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 20px 50px;
        margin-top: 50px;
        gap: 60px 0;        

        @include mobile {
            margin-top: 150px;
            display: flex;
            flex-flow: row wrap;
            padding: 10px 10px;        
            margin-top: 50px;
        }

    }
   
    &>:last-child{
        margin: 20px;
    }

}